body{
    background-color: rgba(0, 0, 0, 0.1);
}
.container{
    width: 750px;
}
.hidden{
    display: none;
}

.visible{
    display:block;
}

.img-fluid{
    width: 45%;
    border-radius: 50%;
    border: 7px solid #6200EE;
}